* {
    box-sizing: border-box;
}

.personal-center {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: flex-start;

    &-nav {
        width: 12rem;
        height: 10rem;
        margin: 0 1rem 0 2rem;
        border-radius: 0.5rem;
        box-shadow: 5px 5px 5px #DBDCDD;

    }

    &-content {
        width: 74%;
        height: 10rem;
        background-color: brown;
    }
}